table {
    table-layout: fixed;
    width: 45%;
  }
  th, td{
    border: 3px solid black;
  }
  body {
    margin-right: auto;
    margin-left: auto;
    max-width:1080px;
    padding-top: 10px;
    padding-right: 20px;
    padding-left: 20px;
    padding-bottom: 10px;
    background-color: wheat;
    
  }
h1{
    text-align: center;
}
nav{
    border: 3px solid black;
    table-layout: fixed;
    width: 25%;
    line-height: 1.8;
    
}

img{
    border: 3px solid black;
     
}
footer{
    text-align: center;
}